html
	head
		script(src="https://apis.google.com/js/platform.js" async defer)
		meta(name="google-signin-client_id" content="712853165091-ddk7io2fnhhd3h0g82vr6hrashunt9bt.apps.googleusercontent.com")
	body
		div(class="g-signin2" data-onsuccess="onSignIn")
